.remodeling {
  &__container {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }

  &__image {
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0 1px 5px #000;
    //margin-right: 50px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    //margin-left: 50px;
  }

  &__title {
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
    margin-bottom: 10px;
    color: #bf0001;
  }
}
